**ESSENTIAL CLEANING TO BE FOLLOWED IN EVERY DATASET**

In [ ]:
#modules required
import pandas as pd
import numpy as np
import chardet
import matplotlib.pyplot as plt

In [ ]:
#Mount the dataset from the drive
#Folder Name - stands for the required dataset folder name created in the drive 
%cd '/content/drive/My Drive/Colab Notebooks/Folder Name'

In [ ]:
#Displays the first 5(defualt) rows in the dataset
#filename - stands for the csv file name in the drive folder
df = pd.read_csv('filename.csv',encoding= 'unicode_escape')
df.head()

In [ ]:
#Handling of NaN values in the dataset
#Removal of rows containing missing values(part 1)
#Get the number of missing data points per column
missing_values = df.isnull().sum()

#look at the missing points in the first 5 columns
missing_values[0:5]

In [ ]:
#Handling of NaN values in the dataset
#Removal of rows containing missing values(part 2)
#To find total missing values in our dataset
total_cells = np.product(df.shape)
total_missing_values = missing_values.sum()

#Percentage of data missing
percent_missing = (total_missing_values/total_cells) * 100
print(percent_missing)

In [ ]:
#Handling of NaN values in the dataset
#Removal of rows containing missing values(part 3)
#Remove all the rows that contain atleast 1  missing value
dropped_rows=df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)

In [ ]:
#Handling of NaN values in the dataset
#Removal of rows containing missing values(part 4)
#Crosscheck
#Get the number of missing data points per column
missing_values = df.isnull().sum()

#Look at the missing points in the first 5 columns
missing_values[0:5]

In [ ]:
#Handling of NaN values in the dataset
#Instead of dropping rows conatining NaN as their value 
#We can instead find the mean of the remaining values in the column and insert the mean value instead of NaN
#This is only possible if the column is numeric
#Finding mean
#ColumnName - stands for name of the column whose mean needs to be found

df['ColumnName'] = df['ColumnName'].fillna(df.ColumnName.mean())
df.head()

In [ ]:
#Handling of NaN values in the dataset
#When observations have some logical order in them we can use bfill or ffill to fill the missing values
#Replace all NA's the value that comes directly before it in the same column, 
#Then replace all the remaining na's with with values that come after it in the same column
#Bfill and FFill method
df.fillna(method='ffill').fillna(method='bfill')

In [ ]:
#Handling of duplicate values in the dataset
#Duplicates(part1)
#To find if any duplicate rows exist
duplicates=df[df.duplicated()]
print(duplicates)

In [ ]:
#Handling of duplicate values in the dataset
#Duplicates(part2)
#To remove duplicate rows
df = df.drop_duplicates()
print(df)

**OPTIONAL CLEANING WHICH IS DATASET SPECIFIC**

In [ ]:
#To avoid autogenerated unique indexes for each row we can set a column which has unique values for each row as the unique identifier if at all it exists
#Unique Identifier(part 1)
#To verify if a column is unique column
#ColumnName - Name of the column to be checked if it is unique or not
df['ColumnName'].is_unique

In [ ]:
 #Unique Identifier(part 2)
 #To set the verified column as the unique column
 #ColumnName - Name of the column to be set as unique
 df = df.set_index('ColumnName')
 df.head()

In [ ]:
#Some columns are already classified to have true or false values
#Removal of rows which are classified as false
#Here 1-true 0-false
#ColumnName - Name of the classified column
df_false = df[df['ColumnName']==0].index
df.drop(df_false,inplace=True)

df.head()

In [ ]:
#Conversion of datatypes
#To change the datatype of a column(part 1)
#Incase it is not in its standard datatype
#Req_datatype - datatype to be converted to
#ColumnName,ColumnName1,ColumnName2 - names of the columns whose datatypes need to be changed

#To check the datatype of a column
df['ColumnName'].dtype

In [ ]:
#To change the datatype of a column(part 2)
df['ColumnName'] = df['ColumnName'].astype('Req_datatype')
#For more than 1 column
df= df.astype({'ColumnName1': 'Req_datatype', 'ColumnName2': 'Req_datatype'})
#Crosscheck
df['ColumnName'].dtype

In [ ]:
#Handling of columns containing locations
#Some values are displayed to be unique inspite of refering to the same city or country
#This is due to the uppercase and lowercase difference or due to extra space after or between the words which requires cleaning
#Locations(part 1)
#location - stands for the column name


# get all the unique values in the 'Country' column
locations = df['location'].unique()

# sort them alphabetically and then take a closer look
#you will find values refering to same city or country displayed to be unique
locations = "".join(sorted(locations))
locations

In [ ]:
#Locations(part 2)
#When two fields having same value are displayed to be unique bcoz they are case sensitive or bcoz of extra spaces at the end
#They can be converted to lowercase and spaces between the values can be removed
#Convert to lower case
df['location'] = df['location'].str.lower()
#Remove trailing white spaces
df['location'] = df['location'].str.strip()

In [ ]:
#Handling of irrelevant columns in the dataset
#To remove irrelevant columns which are of no use as per the problem being solved
#ColumnName,ColumnName1,ColumnName2 - Names of the column to be dropped
df=df.drop(columns='ColumnName')
#To drop more than 1 column
df=df.drop(columns=['ColumnName1','ColumnName2'])
print(df.head())

In [ ]:
#Handling of columns with dates
#All dates can be displayed in the same datatype and in the same fashion i.e m/d/y
#Dates(part1)
#Print the first few rows of the date column
print(df['date'].head())

In [ ]:
#Dates(part 2)
#Check the data type of our date column
df['date'].dtype

In [ ]:
#Dates(part 3)
#Create a new column, date_parsed, with the parsed dates
#Here the datatype of the date column will change from object to datetime64 which is the actual datatype we need to have for dates
df['date_parsed'] = pd.to_datetime(df['date'], format="%m/%d/%y")

In [ ]:
#Dates(part 4)
#Crosscheck
#Print the first few rows
df['date_parsed'].head()

In [ ]:
#Handling of complex column names
#To rename a complex column name
# OriginalName - old name of the column & NewName - new name to be assigned
df.rename(columns={'OrginalName':'NewName'}, inplace=True)

In [ ]:
df.head()

In [ ]:
#Handling of outliers
#outliers(part1)
#plot_name - name of the plot to be used(Box,Scatter)
#x_coordinate - column to be assigned on the x axis
#y_coordinate - column to be assigned on the y axis
df.plot(kind='plot_name' , x='x_coordinate' , y='y_coordinate' , rot = 70)
plt.show()

In [ ]:
#outliers(part2)
#Remove outliers
#value - value above which points should not be considered
df_removed_outliers = df[df.y_coordinate<value]
df_removed_outliers.plot(kind='plot_name', x='x_coordinate' , y='y_coordinate' , rot = 70)
plt.show()

In [ ]:
#To check the final cleaned dataset
df.head()